<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.0.1" targetFramework="net461" />
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Dapper" version="1.50.0-beta5" targetFramework="net45" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net45" />
  <package id="FParsec" version="1.0.2" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="IronPython" version="2.7.5" targetFramework="net461" />
  <package id="Ix-Main" version="1.2.5" targetFramework="net45" />
  <package id="LiteDB" version="2.0.0-rc" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net45" />
  <package id="Platform.NET" version="1.1.0.229" targetFramework="net45" />
  <package id="Platform.VirtualFileSystem" version="1.1.0.109" targetFramework="net45" />
  <package id="Platform.VirtualFileSystem.Providers.Zip" version="1.1.0.109" targetFramework="net45" />
  <package id="Platform.Xml.Serialization" version="1.1.0.229" targetFramework="net45" />
  <package id="PowerArgs" version="2.7.0.0" targetFramework="net45" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="SemanticVersioning" version="0.6.2.0" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>